<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Landing</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="landing">
<div class="header container">
  <div class="row">
    <div class="col-lg-6">
      <h1>
        Виталий Смаль
        <br>
        <small>Профессиональный ведущий на праздник</small>
      </h1>
    </div>
    <div class="col-lg-6 text-right clearfix">
      <div class="zvonok pull-right">
        <span class="btn btn-info btn-lg">Закажите звонок</span>
      </div>
      <div class="contact pull-right">
        <div>Санкт-Петербург</div>
        <div>
          <i class="glyphicon glyphicon-phone-alt"></i>
          <span class="phone">+7(981)12-55-707</span>
        </div>
        <div>
          <i class="glyphicon glyphicon-envelope"></i>
          <a href="mailto:smal@gmail.com">
            smal@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="main-nav" class="navbar navbar-default container">
  <div class="offset-help">
    <div class="toggle-cont text-center">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul id="menu" class="nav navbar-nav text-center">
        <li class="active"><a href="http://condorthemes.com/cartuline/index.html">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Pages</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="promo container">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="/assets/decor/1.jpg" alt=""/>

        <div class="carousel-caption">
          <h3>Режиссер театрализованных представлений и праздников</h3>
          <p>Режиссер театрализованных представлений и праздников</p>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="/assets/decor/2.jpg" alt=""/>

        <div class="carousel-caption">
          <h3>Режиссер театрализованных представлений и праздников</h3>
          <p>Режиссер театрализованных представлений и праздников</p>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="/assets/decor/3.jpg" alt=""/>

        <div class="carousel-caption">
          <h3>Режиссер театрализованных представлений и праздников</h3>
          <p>Режиссер театрализованных представлений и праздников</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>


<div class="container">
  <div class="row bg-primary form-promo" ng-controller="orderNewCtrl">
    <div class="col-sm-6">
      <h2>Оставьте заявку</h2>
      <p>
        на проведение программы ведущего Виталия Смаль с DJ и оборудованием на Ваше торжество
      </p>
      <p>
        <i class="glyphicon glyphicon-time"></i>
        Мы перезвоним в течение 10 минут
      </p>
    </div>
    <div class="col-sm-5 col-sm-push-1">
      <%= render 'pages/form' %>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
