<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Landing</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="landing">
<div class="header container" id="home">
  <div class="row">
    <div class="col-lg-6">
      <h1>
        Виталий Смаль
        <br>
        <small>Профессиональный ведущий на праздник</small>
      </h1>
    </div>
    <div class="col-lg-6 text-right clearfix">
      <div class="zvonok pull-right">
        <span class="btn btn-info btn-lg">Закажите звонок</span>
      </div>
      <div class="contact pull-right">
        <div>Санкт-Петербург</div>
        <div>
          <i class="glyphicon glyphicon-phone-alt"></i>
          <span class="phone">+7(981)12-55-707</span>
        </div>
        <div>
          <i class="glyphicon glyphicon-envelope"></i>
          <a href="mailto:smal@gmail.com">
            smal@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-nav" class="navbar navbar-default container">
  <div class="offset-help">
    <div class="toggle-cont text-center">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul id="menu" class="nav navbar-nav text-center">
        <li><a href="#about">Принципы работы</a></li>
        <li><a href="#gallery">Фото</a></li>
        <li><a href="#video">Видео</a></li>
        <li><a href="#review">Отзывы</a></li>
        <li><a href="#order">Оставить заявку</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container wrapper">

  <%= render 'pages/carousel' %> 

  <div class="row bg-primary form-promo" id="order" ng-controller="orderNewCtrl">
    <div class="col-sm-6">
      
      <h2 class="text-center custom-title">
        <span>Оставьте заявку</span>
      </h2>
      <p>
        на проведение программы ведущего Виталия Смаль с DJ и оборудованием на Ваше торжество
      </p>
      <p>
        <i class="glyphicon glyphicon-time"></i>
        Мы перезвоним в течение 10 минут
      </p>
    </div>
    <div class="col-sm-5 col-sm-push-1">
      <%= render 'pages/form' %>
    </div>
  </div>

  <%= render 'pages/about' %>
  <%= render 'pages/gallery' %>
  <%= render 'pages/video' %>
  <%= render 'pages/review' %>
  <div class="row form-promo" id="order" ng-controller="orderNewCtrl">
    <div class="col-sm-6">

      <h2 class="text-center custom-title">
        <span>Оставьте заявку</span>
      </h2>
      <p>
        на проведение программы ведущего Виталия Смаль с DJ и оборудованием на Ваше торжество
      </p>
      <p>
        <i class="glyphicon glyphicon-time"></i>
        Мы перезвоним в течение 10 минут
      </p>
    </div>
    <div class="col-sm-5 col-sm-push-1">
      <%= render 'pages/form' %>
    </div>
  </div>

  <div>
    <%= yield %>
  </div>

</div>


<%= render 'pages/overlay' %>

</body>
</html>
